* {
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  height: 604px;
  width: 375px;
  font-style: normal;
}

.background-img {
  position: absolute;
  top: 80px;
  right: 8px;
  z-index: -1;
}

.header {
  background-color: #fff;
  height: 48px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
  margin: 24px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 24px;
}

.menu-icon span {
  width: 25px;
  height: 3px;
  background-color: #6372ff;
  display: block;
}

.headline {
  width: 375px;
  height: 530px;
}

.headline-title {
  height: 175px;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  color: #172b4d;
  margin: 114px 24px 12px 24px;
}

.headline-text {
  width: 327px;
  height: 146px;
  font-size: 16px;
  font-weight: 400;
  color: #344563;
  margin: 12px 24px 12px 24px;
}

.headline-link {
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
  text-decoration: none;
  margin: 24px;
}

.aboutUs-links .headline-link {
  margin: 0;
}

.aboutUs-links .social-icons {
  display: flex;
  list-style: none;
  margin-top: 12px;
  margin-left: 0;
}

.social-icons a img {
  width: 20px;
  height: auto;
  margin-left: 8px;
  margin-right: 8px;
}

.work-cards {
  height: 2600px;
  top: 718px;
  display: grid;
  justify-content: start;
  padding: 114px 24px 114px 24px;
  gap: 88px;
  background-color: rgb(247, 247, 247);
}

.work-card1 {
  width: 300px;
  height: 552px;
  padding: 10px;
  border-radius: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  background-color: white;
}

.work-card2 {
  width: 300px;
  height: 552px;
  padding: 10px;
  border-radius: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  background-color: white;
  font-size: 32px;
}

.work-card2 .see-project {
  margin-top: 10px;
}

.work-card3 {
  width: 300px;
  height: 552px;
  padding: 10px;
  border-radius: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  background-color: white;
}

.work-card4 {
  width: 300px;
  height: 552px;
  padding: 10px;
  border-radius: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  background-color: white;
}

.work-card4 .see-project {
  margin-top: 20px;
}

.work-card1 .see-project {
  margin-top: 20px;
}

.work-card3 .see-project {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500px;
  text-align: center;
  text-decoration: none;
  color: #33ff; /* Blue text color */
  border: 1px solid #33ff; /* Blue border */
  border-radius: 8px;
  background-color: transparent; /* Transparent background */
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #e0e0ff; /* Light blue background on hover */
  color: #33ff; /* Keep text color on hover */
}

.portfolio_image {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  padding: 5px;
  padding-left: 2px;
}

.t1 {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  margin-top: 6px;
  color: #172b4d;
}

.list1 {
  display: flex;
  font-size: 13px;
  font-weight: 700px;
  text-align: left;
  justify-content: space-between;
  width: 236px;
  height: 32px;
  margin-top: -20px;
  padding-left: 1px;
  color: #7a869a;
}

.Canopy {
  font-weight: bold;
  list-style-type: none;
  color: #344563;
}

.para1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin: 8px 0 8px 0;
}

.tech-stack {
  display: flex;
  gap: 10px;
}

.tag {
  padding: 8px 12px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 500px;
  background-color: #e0e0ff; /* Light blue background */
  color: #33ff; /* Blue text */
}

.aboutUS {
  width: 327px;
  height: 1063px;
  padding: 114px 24px 114px 24px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 80px;
}

.aboutMyselftext {
  width: 327px;
  height: 35px;
  font-family: poppins, sans-serif;
  font-weight: 700px;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
}

.aboutMyselflinertext {
  width: 338px;
  height: 160px;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  color: #172b4d;
}

.aboutMyselflinertext p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #172b4d;
}

.bt2 {
  width: 170px;
  height: 48px;
  top: 12px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  font-family: poppins, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6070ff;
  background-color: #ffff;
}

.skills {
  width: 327px;
  height: 72px;
  padding-top: 24px;
}

.langu1 {
  display: flex;
  justify-content: space-between;
  width: 327px;
  height: 72px;
  margin-top: 20px;
}

.Union {
  width: 12px;
  height: 6px;
  padding-top: 32px;
  padding-right: 10px;
}

.l3 {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 10px;
}

.codinglanguages {
  width: 327px;
  height: 72px;
  padding-top: 10px;
  margin-top: 10px;
  padding-left: 10px;
  display: flex;
  background-color: #f7f7f9;
  border-radius: 10px;
  padding-bottom: 10px;
}

.codingtext {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  padding-top: 11px;
  padding-left: 25px;
}
